@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --theme-accent1: 123, 255, 243;
    --theme-accent2: 0, 240, 255;
    --background: 16, 17, 18;
}

@-webkit-keyframes rollingIcon {
    0% {
        transform: rotate(0deg);
        -webkit-filter: drop-shadow(0 0 1vh rgba(var(--theme-accent1), 0.35));
                filter: drop-shadow(0 0 1vh rgba(var(--theme-accent1), 0.35));
    }

    75% {
        transform: rotate(360deg);
        -webkit-filter: drop-shadow(0 0 3vh rgba(var(--theme-accent1), 0.35));
                filter: drop-shadow(0 0 3vh rgba(var(--theme-accent1), 0.35));
    }

    100% {
        transform: rotate(360deg);
        -webkit-filter: drop-shadow(0 0 1vh rgba(var(--theme-accent1), 0.35));
                filter: drop-shadow(0 0 1vh rgba(var(--theme-accent1), 0.35));
    }
}

@keyframes rollingIcon {
    0% {
        transform: rotate(0deg);
        -webkit-filter: drop-shadow(0 0 1vh rgba(var(--theme-accent1), 0.35));
                filter: drop-shadow(0 0 1vh rgba(var(--theme-accent1), 0.35));
    }

    75% {
        transform: rotate(360deg);
        -webkit-filter: drop-shadow(0 0 3vh rgba(var(--theme-accent1), 0.35));
                filter: drop-shadow(0 0 3vh rgba(var(--theme-accent1), 0.35));
    }

    100% {
        transform: rotate(360deg);
        -webkit-filter: drop-shadow(0 0 1vh rgba(var(--theme-accent1), 0.35));
                filter: drop-shadow(0 0 1vh rgba(var(--theme-accent1), 0.35));
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

* {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    color: #2e2e2e;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-user-drag: none;
}

html {
    overflow: hidden;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--background), 1);
    margin: 0;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    font-size: max(1vw, 10px);
    text-align: center;
    color: #cfcfcf;
}

#copyrights {
    color: #cfcfcf;
}

#iconHolder {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    -webkit-animation: fadeOut .5s ease-out;
            animation: fadeOut .5s ease-out;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

#iconImg {
    margin-top: 1vh;
    height: max(10vw, 50px);
    min-height: 100px;
    -webkit-filter: drop-shadow(0 0 3vh rgba(var(--theme-accent1), 0.35));
            filter: drop-shadow(0 0 3vh rgba(var(--theme-accent1), 0.35));
    -webkit-animation: rollingIcon 2s ease-out infinite normal;
            animation: rollingIcon 2s ease-out infinite normal;
}

#iconTitle {
    text-align: center;
    font-size: max(2vw, 20px);
    font-weight: 700;
    color: #cfcfcf;
}

#versionText {
    color: #cfcfcf;
    font-weight: 700;
}

#releaseInfo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: min(60vw, 600px);
    -webkit-animation: fadeIn .5s ease-out forwards;
            animation: fadeIn .5s ease-out forwards;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

#iconImg2 {
    margin-bottom: 1.5vh;
    height: 13vw;
    min-height: 130px;
    -webkit-filter: drop-shadow(0 0 2vh rgba(var(--theme-accent1), 0.35));
            filter: drop-shadow(0 0 2vh rgba(var(--theme-accent1), 0.35));
}

#buttonsHolder {
    text-align: center;
    margin-top: 5vh;
    width: 100%;
}

#subHolder {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: no-wrap;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(var(--theme-accent2), 1);
    background: repeating-linear-gradient(108.5deg,
        rgba(var(--theme-accent1), 1) 0,
        rgba(var(--theme-accent1), 1) 30px,
        rgba(var(--theme-accent2), 1) 30.5px,
        rgba(var(--theme-accent2), 1) 60px,
        rgba(var(--theme-accent1), 1) 60.5px);
    border: solid #000 2px;
    box-shadow: 0 0 30px rgba(var(--theme-accent1), 0.15);
    background-position: 100px 0;
    background-size: 64px 100%;
    transition: background-position .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}

.button:hover {
    background-position: 0 0;
}

.button.sp {
    padding: 0 10px;
    width: calc(48% - 20px);
    height: max(7vh, 50px);
}

.button > div:last-child {
    display: flex;
    flex-direction: column;
}

#mpLogo {
    height: 6vh;
    padding-top: 15px;
    padding-bottom: 15px;
}

#mpOS {
    font-size: 5vh;
    font-weight: 700;
}

#mpInfo {
    font-size: 2vh;
}

.spLogo {
    height: 4vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spOS {
    font-size: 3vh;
    font-weight: 700;
}

.spInfo {
    font-size: 2vh;
}

#usePC {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cfcfcf;
    -webkit-animation: fadeIn .5s ease-out forwards;
            animation: fadeIn .5s ease-out forwards;
}

#badges {
    display: none;
    -webkit-animation: fadeIn .5s ease-out forwards;
            animation: fadeIn .5s ease-out forwards;
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

#linksHolder {
    font-size: max(1vw, 10px);
    color: #cfcfcf;
}

#helpLink {
    font-size: max(1vw, 10px);
    color: #cfcfcf;
    transition: color .1s;
}

#helpLink:hover {
    color: rgba(var(--theme-accent2), 1);
}

#helpIcon {
    font-size: max(1vw, 10px);
    color: #cfcfcf;
    vertical-align: -0.5vh;
}

#releaseLink {
    font-size: max(1vw, 10px);
    color: #cfcfcf;
    transition: color .1s;
}

#releaseLink:hover {
    color: rgba(var(--theme-accent2), 1);
}
